/* line 23, app/assets/stylesheets/mixins.css.scss */
#contracts .card {
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #e3e6f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* To prevent the table from overflowing */
}

/* line 31, app/assets/stylesheets/mixins.css.scss */
#contracts .card .card-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e3e6f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 38, app/assets/stylesheets/mixins.css.scss */
#contracts .card .card-header .card-header-title {
  height: 100%;
}

/* line 43, app/assets/stylesheets/mixins.css.scss */
#contracts .card .card-header .card-header-title, #contracts .card .card-header span {
  margin-right: 5px;
}

/* line 47, app/assets/stylesheets/mixins.css.scss */
#contracts .card .card-header .columns {
  width: 100%;
}

/* line 52, app/assets/stylesheets/mixins.css.scss */
#contracts .card .card-footer {
  background-color: #f5f5f5;
  border-top: 1px solid #e3e6f0;
  padding: 0.5rem 1rem;
}

/* line 57, app/assets/stylesheets/mixins.css.scss */
#contracts .card .card-footer .pagination {
  margin: auto;
}

/* line 63, app/assets/stylesheets/mixins.css.scss */
#contracts .table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0;
  border: 0;
}

/* line 10, app/assets/stylesheets/mixins.css.scss */
#contracts .table a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #000;
  text-decoration: none;
}

/* line 15, app/assets/stylesheets/mixins.css.scss */
#contracts .table a:hover {
  text-decoration: none;
  color: gray;
}

/* line 71, app/assets/stylesheets/mixins.css.scss */
#contracts .table thead tr {
  border: inherit;
}

/* line 74, app/assets/stylesheets/mixins.css.scss */
#contracts .table thead tr th {
  border: inherit;
}

/* line 80, app/assets/stylesheets/mixins.css.scss */
#contracts .table tr {
  border: inherit;
}

/* line 83, app/assets/stylesheets/mixins.css.scss */
#contracts .table tr td {
  border: inherit;
}

/* line 6, app/assets/stylesheets/contracts.css.scss */
#contracts #contracts-table-header-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0;
}

/* line 12, app/assets/stylesheets/contracts.css.scss */
#contracts #contracts-table-header-inputs div {
  display: flex;
  justify-content: right;
}

/* line 16, app/assets/stylesheets/contracts.css.scss */
#contracts #contracts-table-header-inputs div form {
  margin-right: 20px;
  width: 70%;
}

/* line 23, app/assets/stylesheets/mixins.css.scss */
#contract-show .card {
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #e3e6f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* To prevent the table from overflowing */
}

/* line 31, app/assets/stylesheets/mixins.css.scss */
#contract-show .card .card-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e3e6f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 38, app/assets/stylesheets/mixins.css.scss */
#contract-show .card .card-header .card-header-title {
  height: 100%;
}

/* line 43, app/assets/stylesheets/mixins.css.scss */
#contract-show .card .card-header .card-header-title, #contract-show .card .card-header span {
  margin-right: 5px;
}

/* line 47, app/assets/stylesheets/mixins.css.scss */
#contract-show .card .card-header .columns {
  width: 100%;
}

/* line 52, app/assets/stylesheets/mixins.css.scss */
#contract-show .card .card-footer {
  background-color: #f5f5f5;
  border-top: 1px solid #e3e6f0;
  padding: 0.5rem 1rem;
}

/* line 57, app/assets/stylesheets/mixins.css.scss */
#contract-show .card .card-footer .pagination {
  margin: auto;
}

/* line 63, app/assets/stylesheets/mixins.css.scss */
#contract-show .table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0;
  border: 0;
}

/* line 10, app/assets/stylesheets/mixins.css.scss */
#contract-show .table a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #000;
  text-decoration: none;
}

/* line 15, app/assets/stylesheets/mixins.css.scss */
#contract-show .table a:hover {
  text-decoration: none;
  color: gray;
}

/* line 71, app/assets/stylesheets/mixins.css.scss */
#contract-show .table thead tr {
  border: inherit;
}

/* line 74, app/assets/stylesheets/mixins.css.scss */
#contract-show .table thead tr th {
  border: inherit;
}

/* line 80, app/assets/stylesheets/mixins.css.scss */
#contract-show .table tr {
  border: inherit;
}

/* line 83, app/assets/stylesheets/mixins.css.scss */
#contract-show .table tr td {
  border: inherit;
}

/* line 27, app/assets/stylesheets/contracts.css.scss */
#contract-show .download-file-button {
  display: flex;
  justify-content: flex-end;
}

/* line 23, app/assets/stylesheets/mixins.css.scss */
#contract-form .card {
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #e3e6f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* To prevent the table from overflowing */
}

/* line 31, app/assets/stylesheets/mixins.css.scss */
#contract-form .card .card-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e3e6f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 38, app/assets/stylesheets/mixins.css.scss */
#contract-form .card .card-header .card-header-title {
  height: 100%;
}

/* line 43, app/assets/stylesheets/mixins.css.scss */
#contract-form .card .card-header .card-header-title, #contract-form .card .card-header span {
  margin-right: 5px;
}

/* line 47, app/assets/stylesheets/mixins.css.scss */
#contract-form .card .card-header .columns {
  width: 100%;
}

/* line 52, app/assets/stylesheets/mixins.css.scss */
#contract-form .card .card-footer {
  background-color: #f5f5f5;
  border-top: 1px solid #e3e6f0;
  padding: 0.5rem 1rem;
}

/* line 57, app/assets/stylesheets/mixins.css.scss */
#contract-form .card .card-footer .pagination {
  margin: auto;
}

/* line 63, app/assets/stylesheets/mixins.css.scss */
#contract-form .table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0;
  border: 0;
}

/* line 10, app/assets/stylesheets/mixins.css.scss */
#contract-form .table a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #000;
  text-decoration: none;
}

/* line 15, app/assets/stylesheets/mixins.css.scss */
#contract-form .table a:hover {
  text-decoration: none;
  color: gray;
}

/* line 71, app/assets/stylesheets/mixins.css.scss */
#contract-form .table thead tr {
  border: inherit;
}

/* line 74, app/assets/stylesheets/mixins.css.scss */
#contract-form .table thead tr th {
  border: inherit;
}

/* line 80, app/assets/stylesheets/mixins.css.scss */
#contract-form .table tr {
  border: inherit;
}

/* line 83, app/assets/stylesheets/mixins.css.scss */
#contract-form .table tr td {
  border: inherit;
}

/* line 36, app/assets/stylesheets/contracts.css.scss */
#contract-form tr.is-disabled {
  opacity: 0.5;
}
